# ===== OS =====
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ===== Editor / IDE =====
*.swp
*.swo
*~
*.bak
*.orig
*.tmp
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# ===== Logs =====
*.log
